header {
    display: flex;
    border-bottom: black solid 0.1px;
    z-index: 3;
    background-color: white;
    height: 7vh;
    align-items: center;
    font-size: 1em;
    width: 100%;
    position: sticky;
    top: 0px;
    letter-spacing: 0px;

    #headerButtons {
        display: flex;

        p {
            width: 14vw;

            a {
                text-decoration: none;
                color: black;
            }


        }


    }


    #SpeicalHeader {
        position: relative;
        left: 30%;


        #SpeicalHeaderLogo {
            width: 6vw;
            height: 6vh;

        }

        #SpeicalHeaderPicture {
            height: 7vh;

        }
    }

}

#tikAvodot {
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(31, 183, 145), rgb(0, 255, 166));
    display: flex;
    justify-content: center;



    #tikavodotText {
        position: relative;
        top: 20%;




        #tikHeader {
            display: flex;
            justify-content: center;





        }



        #tikMain {
            position: relative;
            width: 50%;
            left: 25%;
        }
    }


}

#icons {

    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 6px #00000029;




}

#copyRight {
    background-color: #000000;
    color: #1AE0EC;
    border-bottom: #1AE0EC 2px solid;
}








@media all and (max-width:680px) {
    body {
        font-size: 3vw;
    }


    #aboutMe {
        height: 15vh;
    }






}


@media all and (min-width:680px) {
    body {
        font-size: 1vw;
    }

    input {
        width: 100%;
        height: 4%;
    }
}